django>=1.10.6          # Web App框架
django-allauth>=0.31.0  # 用户管理框架，包括注册、登录、账户管理、第三方（社交）账户登录
django-uuidfield        # 为django models 提供了UUIDField
django-bootstrap3       # 让django模板输出Bootstrap 3代码以满足响应式设计要求