{% extends 'base.html' %}

{% block title %} 欢迎您！{% endblock %}

{% block pagecontent %}
    <div class="jumbotron">
        <img src="/static/images/horse_768.png" alt="Horse" class="img-responsive visible-xs">
    </div>

    <div id="home-tiles" class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="" onclick="$dc.loadMenuCategories();">
                <div id="breeds"><span>品种展示</span></div>
            </a>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="#" onclick="$dc.loadMenuItems({{ randomCategoryShortName }});">
                <div id="disease"><span>马病预防</span></div>
            </a>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <a href="http://mooc.xjau.edu.cn">
                <div id="mooc"><span>伯乐学堂</span></div>
            </a>
        </div>
    </div><!-- End of #home-tiles -->
    <a href="{% url 'home' %}">Go Home</a>
    <a href="{% url 'about' %}">About This Site</a>
{% endblock %}