{% load i18n %}
<!--****************************************************************************************
  作者：张太红
  日期：2017年03月17日
*****************************************************************************************-->

<footer class="footer">
    <div class="container">
        <div class="row">
            <section id="project" class="col-sm-4">
                <span>{% trans "Fund Program" %}</span><br>
                {% trans "Xinjiang Uygur Autonomous Region Key S&T Projects" %}<br>
                {% trans "Horse Industry Upgrading Technological Innovation Program" %}<br>
                {% trans "Task No.5 Horse Industry S&T Innovative Platform Construction" %}
                <hr class="visible-xs">
            </section>
            <section id="organization" class="col-sm-4">
                <span>{% trans "Program Teams" %}</span><br>
                {% trans "①Xinjiang Agricultural University" %}<br>
                {% trans "②Zhaosu Horse Farm of Ili Kazak Autonomous Prefecture" %}<br>
                {% trans "③Ili Stud of Xinjiang Uygur Autonomous Region" %}<br>
                {% trans "④Zhaosu Western Region Horse Industry LLC" %}<br>
                {% trans "⑤Xinjiang Horse Industry Association" %}<br>
                <hr class="visible-xs">
            </section>
            <section id="objective" class="col-sm-4">
                <span>{% trans "Objectives" %}</span><br>
                {% trans "Promoting The integration of Internet with Traditional Horse Industries" %}<br>
                {% trans 'Exploring the New Form of "Internet + Horse Industry" Economic Development' %}<br>
                {% trans "Boost Region’s Horse Industry Transformation and Upgrading" %}<br>
            </section>
        </div>
        <div class="text-center">{% trans "Copyright © 2017 Xinjiang Agricultural University" %}</div>
    </div>
</footer>
