{% extends "bases/bootstrap-auth.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load account socialaccount %}

{% block head_title %}{% trans "新疆马业-找回密码Password Reset" %}{% endblock %}

{% block inner-content %}

    <h2>{% trans "重置密码" %}</h2>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% trans "如果您忘记了密码，请在下面输入您的e-mail地址。我们为您将发送一封重置密码的邮件。" %}</p>
    
    <form method="POST" action="" >
        {% csrf_token %}
        {% bootstrap_form password_reset_form %}
        <div class="form-actions">
          <input class="btn btn-primary" type="submit" value="{% trans "重新设置我的密码" %}" />
        </div>
    </form>
    
    <p>{% blocktrans %}如果在重新设置密码时您遇到了困难，请和网站管理人员联系。{% endblocktrans %}</p>
{% endblock %}

{% block appjs_jquery %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}
