<!--****************************************************************************************
  作者：张太红
  日期：2017年03月17日
*****************************************************************************************-->


<!-- 顶部静态导航栏 -->
<nav class="navbar navbar-toggler navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <!-- 手机等小屏幕导航栏折叠后依然在导航栏左侧保留 -->
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="/static/images/logo.png">
            </a>
            <a class="navbar-brand brand-name" href="{% url 'home' %}">
                <p>新疆马业</p>
            </a>
            <!-- 手机等小屏幕导航栏菜单折叠为右侧按钮 -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsed-menu"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

        <!-- 一下内容在手机等小屏幕导航栏折叠后将从导航栏消失，通过点击右侧按钮可以展开 -->
        <div id="collapsed-menu" class="navbar-collapse collapse"><!-- 折叠内容开始 -->
            <!-- 左对齐 -->
            <ul  id="nav-list" class="nav navbar-nav navbar-left">
                <li class="active"><a href="{% url 'home' %}">首页</a></li>
                <li><a href="#contact">品系登记</a></li>
                <li><a href="#contact">马场管理</a></li>
                <li><a href="#contact">赛马商城</a></li>
                <li><a href="#contact">精彩赛事</a></li>
            </ul>
            <!-- 右对齐 -->
            <ul  id="nav-list" class="nav navbar-nav navbar-right">
                <li><a href="./">注册 <span class="sr-only">(current)</span></a></li>
                <li><a href="../navbar-fixed-top/">登录</a></li>
            </ul>
        </div><!-- 折叠内容结束 -->
    </div>
</nav>