 <!--****************************************************************************************
  作者：张太红
  日期：2017年03月17日
*****************************************************************************************-->


  <footer class="footer">
    <div class="container">
      <div class="row">
        <section id="project" class="col-sm-4">
          <span>基金项目</span><br>
          新疆维吾尔自治区重大科技专项<br>
          马产业升级技术创新工程<br>
          课题5:马产业科技创新平台建设
          <hr class="visible-xs">
        </section>
        <section id="organization" class="col-sm-4">
          <span>课题承担单位</span><br>
               ①新疆农业大学<br>
               ②伊犁哈萨克自治州昭苏马场<br>
               ③新疆维吾尔自治区地方国营伊犁种马场<br>
               ④昭苏县西域马业有限责任公司<br>
               ⑤新疆马业协会<br>
          <hr class="visible-xs">
        </section>
        <section id="objective" class="col-sm-4">
          <span>课题目标</span><br>
          ☆推动互联网与传统马产业融合！<br>
          ☆探索“互联网＋马产业”经济发展新形态！<br>
          ☆助推我区马产业转型升级！<br>
        </section>
      </div>
      <div class="text-center">&copy; 2017 新疆农业大学计算机与信息工程学院</div>
    </div>
  </footer>